<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>718753859545-ikf5c77r92qk2d5efesc5lhigldhpvk4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.718753859545-ikf5c77r92qk2d5efesc5lhigldhpvk4</string>
	<key>API_KEY</key>
	<string>AIzaSyCzcqeItFTJgBlLtqUz99eXNtFStsl0S-o</string>
	<key>GCM_SENDER_ID</key>
	<string>718753859545</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatify</string>
	<key>PROJECT_ID</key>
	<string>chatify-22f5a</string>
	<key>STORAGE_BUCKET</key>
	<string>chatify-22f5a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:718753859545:ios:fc312967809a877d173bc8</string>
</dict>
</plist>